<ul class="projects">
  <% projects.each do | project | %>
    <li class="project">
      <a href="/#!/<%= project[:name].downcase.parameterize %>" class="project-open" id="project-id<%= project[:modules][0]['id'] %>">
        <div style="background-image: url(<%= project[:modules][0]['src'] %>)" class="cover"></div>
        <div class="project-name"><%= project[:name] %></div>
      </a>
      <div class="project-details" id="<%= project[:name].downcase.parameterize %>">
        <div class="project-modules">
          <a href="#" class="close a">
            <svg viewBox="0 0 2048 2048">
              <use xlink:href="#fa-times"></use>
            </svg>
          </a>
          <div class="project-title">
            <% if project[:url].nil? %>
              <%= project[:name] %>
            <% else %>
              <a href="<%= project['url'] %>" target="_blank" class="a"><%= URI(project[:url]).host %></a>
            <% end %>
          </div>
          <% project[:modules].each do | m | %>
            <div class="project-image" data-image="<%= m['src'] %>" style="max-width: <%= m['width'] %>px; height: <%= m['height'] %>px;"></div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
